<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ale.misactivos">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".LoginServerActivity"></activity>
        <activity android:name=".Vistas.DetalleInventarioActivity" />
        <activity android:name=".Vistas.GestionInventarioActivity" />
        <activity android:name=".Vistas.EditaActivosActivity" />
        <activity android:name=".Vistas.CrudActivosActivity" />
        <activity android:name=".Vistas.CrudCargosActivity" />
        <activity android:name=".Vistas.CrudTipoDocumentoActivity" />
        <activity android:name=".Vistas.CrudFuncionarioActivity" />
        <activity android:name=".Vistas.CrudOficinaActivity" />
        <activity android:name=".Vistas.CrudEdificioActivity" />
        <activity android:name=".Vistas.ActualizaServerActivity" />
        <activity android:name=".Vistas.MenuCrudsActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Vistas.CreateAccountActivity"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity
            android:name=".RefActivity"
            android:label="@string/title_activity_ref"
            android:theme="@style/AppTheme" />
        <activity android:name=".Vistas.ContainerActivity" />
        <activity android:name=".Vistas.MenuInicialActivity" />
        <activity android:name=".Vistas.GestionServidorActivity" />
        <activity android:name=".Vistas.ObtenerDataActivity" />
        <activity android:name=".Vistas.CreateActivoActivity" />
        <activity android:name=".Vistas.GestionActivosActivity" />
        <activity android:name=".Operaciones.CrudLogin" />
        <activity android:name=".Vistas.CrudProfesionesActivity" />
        <activity android:name=".Vistas.CrudEstadosActivity" />
    </application>

</manifest>